/* shered style */
.color {
    color: rgba(230, 83, 60, 1);
}

.white {
    color: white;
}

.color-2 {
    color: rgba(255, 255, 255, 0.5);
}

body {
    background-color: black;
}

header {
    background-color: rgba(119, 119, 119, 0);
}

nav {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 3% auto;
    justify-content: space-between;
}

.nav-heading {
    font-weight: bolder;
    font-size: 2rem;
}

ul {
    display: flex;
}

ul li {
    color: rgba(255, 255, 255, 1);
    list-style: none;
    padding-right: 5%;
    margin-right: 40px;
}

.btn-primary {
    background-color: rgba(230, 83, 60, 1);
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    color: white;
}

.btn-mt {
    margin-top: -3%;

}

.header-heading {
    font-size: 4rem;
    font-weight: bolder;
    color: white;
}

.header-container {
    display: flex;
    max-width: 80%;
    margin: 0px auto;
    justify-content: space-between;
}

.header-text {
    max-width: 40%;
}

.btn-2 {
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid white;

}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 170px;
    height: 90px;
    color: white;
    border-radius: 10px;
    padding: 0px 10px;
    margin-top: -124%;
    margin-left: 71%;

}

.small-heading {
    font-size: 3.5rem;
    font-weight: bolder;

}

.small-text {
    margin-top: -45px;

}

.ball {
    width: 50px;
    height: 50px;
    background-color: rgba(230, 83, 60, 1);
    margin-top: 14%;
    border-radius: 50%;
}

.box-2 {
    background-color: rgb(167 161 161 / 54%);
    /* background-color: rgba(48, 48, 48, 0.54); */
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 150px;
    margin-left: -30%;
    margin-top: 29%;
    display: flex;
    gap: 5%;
}

/* part-1 */

.part-1 {
    background-color: black;
    margin-top: 10%;
}

.part-1-text {
    text-align: center;
    padding-top: 20%;
}

.font-size {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.part-1-text p {
    padding-top: -5%;
}

.part-1-box {
    max-width: 80%;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.part-1-box img {
    border-radius: 50%;
}

.part-1-box h2 {
    color: white;

}

.part-2-container {
    max-width: 80%;
    margin: 8% auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    padding: 30px 20px;
    border-radius: 5px;
}

.part-2-container img {
    width: 50%;
    border-radius: 10px;
}

.part-2-text {
    max-width: 35%;
}

.part-3 {
    max-width: 80%;
    margin: 0px auto;
}

.part-3-container {
    display: grid;
    grid-template-columns: 250px auto 250px;
    max-width: 100%;
    margin: 0px auto;
}

.grid-img {
    display: grid;
    grid-template-columns: auto 300px 270px;
    max-width: 100%;
    margin: 0px auto;
}

.grid-img img {
    width: 100%;
}

.part-3-container img {
    width: 100%;
}

.img-1,
.img-3 {
    height: 258px;
}

.img-4,
.img-5 {
    height: 237px;
}

/* part-4 start */
.part-4-container {

    background-color: rgba(34, 34, 34, 1);
}

.part-4-sub-conatainer {
    display: flex;
    max-width: 85%;
    margin: 0px auto;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
    padding-bottom: 5%;
}

.part-4-box-2 {
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

/* .part-4-box-2{
    margin-left: 20%;
} */
.part-4-text {
    margin-left: 25%;
    margin-top: 10%;
}

.part-4 p {
    margin-top: -15px;
}

.part-4-box {
    color: white;
    margin-top: 5%;
}

.part-4-box table {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.part-4-box tr td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
}

.part-4-box tr td {
    color: rgba(255, 255, 255, 0.5);

}

.part-4-box-2 input {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 4px;
    border-radius: 5px;
    border: none;
}

.input {
    padding: 10px 65px;
}

.input-last {
    padding: 1.5% 32.5%;

}
.part-5-text{
    text-align: center;
}
.mt-p{
    margin-top: -24px;
}
.part-5-img{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 80%;
    margin: 5% auto;
    gap: 1%;
    background-color: rgba(255, 255, 255, 0.1);

}
.part-5-img img{
    width: 100%;
    padding: 20px;
}